<!-- <div class="card" style="width: 18rem;">
  <img [src]="comics.img" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{comics.nombre}}</h5>
    <p class="card-text">{{comics.descripcion}}</p>
  </div>

  <div class="card-footer">

    <small class="text-muted">{{comics.editorial}}</small>
  </div>
</div> -->

<div class="card mb-3 mt-5" style="max-width: 1300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="comics.img" class="card-img-top" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{comics.nombre}}</h5>
        <p class="card-text">{{comics.descripcion}}</p>
        <p class="card-text"><small class="text-muted">{{comics.editorial}}</small>
      </div>
    </div>
  </div>
</div>
