<html>
  <body>
    <div class="container-fluid mb-4">
      <div class="row d-flex align-items-stretch">
        <div class="col mb-4" *ngFor="let item of comics, index as i">
          <div class="card h-100 mt-4 ml-2 mr-2" style="width: 20rem;">
            <div class="imagen">
              <img [src]="item.img" class="card-img-top" alt="imagen">
            </div>

            <div class="card-body">
              <h5 class="card-title">{{item.nombre}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.autore}}</h6>
              <p class="card-text">{{item.descripcion}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

            </div>
            <div class="card-footer">
              <!-- Sirve para que nos lleve a cada comic en concreto y ver más información.  -->
              <a [routerLink]="['/comic', i]" class="btn btn-block vermas">Ver más</a>
              <!-- <small class="text-muted">{{comic.editorial}}</small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- lila
B0A1BA -->
