.navbar, .dropdown-menu{
  background-color: #2b2e4a;
}

.navbar li{
  padding-left: 10px;
}

.navbar a{
  color: white;
}

.navbar a:hover{
  color:#C7C7C7;
  background-color: #2b2e4a;
}

.search{
  color: #c13b54;
  border: #c13b54 solid 1px;

}

.search:hover{
  background-color:#c13b54;
  color: white;
}

.resultado{
  position: absolute;
  width: 340px;
  display: block;
  top: 100%;
  list-style: none;
  z-index: 1;
  right: 0;
}

.resultado li{
  padding-top: 4px;
  padding-bottom: 4px;
}

.resultado:hover{
  background-color: #c13b54;
}
